<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 返回招聘信息,为 智联招聘爬虫所做接口 -->
<mapper namespace="top.jacktu.page.mapper.ZhaoPinMapper">
	<!-- 查询指定职位页面 -->
	<select id="findJobs"
		parameterType="top.jacktu.page.bean.SouJob"
		resultType="top.jacktu.page.bean.Job">
		<!-- pageIndex,pageSize,cityCode,orderCode,mainSalary -->
		select *
		from job_info where 1=1
		<if test="cityCode != null">
			AND sou_city_id = #{cityCode}
		</if>
		<!-- <if test="minSalary != null">
			and minSalary >= #{minSalary}
		</if>
		<if test="maxSalary != null">
			and maxSalary <= #{maxSalary}
		</if> -->
		<!-- <choose>
			<when test="sort != 'sal' ">
				order by #{sort}
			</when>
			<otherwise>
				order by #{sort}
			</otherwise>
		</choose> -->
		<if test="start != null and end !=null">
			limit #{start},#{end}
		</if>
		
	</select>
	<!-- 查询指定职位详情 -->
	<select id="findOne" resultType="top.jacktu.page.bean.Job">
		select * from job_info
		where id =
		#{jobCode}
	</select>
</mapper>
