<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="top.jacktu.page.mapper.UserMapper">
	<!-- 插入用户信息 -->
	<!-- void insertUser(User user); -->
	<insert id="insertUser" parameterType="cn.tedu.store.bean.User">
		insert into t_user(
			username,password,email,phone,
			created_user,created_time,modified_user,modified_time
		)values(
			#{username},#{password},#{email},#{phone},#{createdUser},
			#{createdTime},#{modifiedUser},#{modifiedTime}
		)
	</insert>
	<!-- User selectUserByUsername(String username); -->
	<select id="selectUserByUsername" resultType="cn.tedu.store.bean.User">
		select 
		id,username,password,email,phone,image,gender,created_user createdUser,
		created_time createdTime,modified_user modifiedUser,modified_time modifiedTime 
		from 
		t_user 
		where 
		username=#{username}
	</select>
	<!-- Integer selectByEmail(String email); -->
	<select id="selectByEmail" resultType="java.lang.Integer">
		select count(*) from t_user where email=#{email}
	</select>
	<!-- Integer selectByPhone(String phone); -->
	<select id="selectByPhone" resultType="java.lang.Integer">
		select count(*) from t_user where phone=#{phone}
	</select>
	<!-- void updateUser(User user); -->
	<update id="updateUser" parameterType="cn.tedu.store.bean.User">
		update t_user
		<set>
			<if test="password!=null">password=#{password},</if><!-- 如果password==null 则password=""空 其他同理 -->
			<if test="username!=null">username=#{username},</if>
			<if test="gender!=null">gender=#{gender},</if>
			<if test="email!=null">email=#{email},</if>
			<if test="phone!=null">phone=#{phone},</if>
		</set>
		where id=#{id}
	</update>
	<!-- User selectById(Integer id); -->
	<select id="selectById" resultType="cn.tedu.store.bean.User">
		select 
		id,username,password,email,phone,image,gender,created_user createdUser,
		created_time createdTime,modified_user modifiedUser,modified_time modifiedTime
		from t_user where id=#{id}
	</select>
	<!-- void updateImage(@Param("image") String image,@Param("id") Integer id); -->
	<update id="updateImage">
		update t_user set image=#{image} where id=#{id}
	</update>
</mapper>
